body { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    background-color: #ffffff; 
    min-width: 651px;
    min-height: auto;
    margin: 10px; 
    background-image: url('bg.svg'); 
    background-repeat: no-repeat; 
    background-position: right; 
  }
table { width: 100%; border-collapse: collapse; margin-bottom: 10px; }
th, td { border: 1px solid #ddd; padding: 8px; text-align: left;}
th { background-color: #5477b0; color: #ffffff; }
.header { font-weight: bold; }
header { display: flex; align-items: center; }
header img { margin-right: 10px; }
.separator { border-bottom: 1px solid #ddd; margin: 10px 0; }
canvas {
  outline: 1px solid white;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 640/480;
}